.post-form {
    margin:2%;
    background-color: rgb(248, 246, 243);
    padding:2%;
    border-radius:10px;
    max-width:1000px
}
.post-form input {
    border:solid .5px #f1f1f1 !important;
    border-radius:5px;
    margin:0px 10px;
    min-width:50vw;
    max-width:70vw
}
.post-form .input-group {
    margin:20px 0px;
    display:flex;
    width:90vw;

}
.post-form .wysiwyg-editor {
    border:solid .5px #f1f1f1;
}
.post-form .form-submit {
    min-width:20vw;
    padding:10px;
    margin:20px;
    background:darkslateblue;
    color:white;
    font-weight:600
}
.form-label {
    margin-top:20px !important;
}
.rep_input {
    height:2rem;
    margin:0% !important
}
#field-container .row-container {
    max-height:2.5rem !important
}
.plus-button, .minus-button {
    width:2rem;
    height:2rem;
    padding:0%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.plus-button {
    background-color: rgb(96, 186, 148);
}
.wysiwyg-editor {
    background-color: white;
}
.rdw-editor-toolbar {
    margin-bottom:0px
}