.right, .wrong {
    border-width: 4px;
    font-weight: 700;
}
.right {
    border-color:rgb(113, 178, 113);
    color:rgb(113, 178, 113)
}
.wrong {
    border-color:rgb(219 140 146);
    color:rgb(219 140 146)
}
.no-click {
    pointer-events: none;
}
