.tiptap-button {
    background-color:white !important;
    color:black !important;
    font-size:.8rem;
    padding:10px;
    display:inline-flex;
    margin-bottom:.5% !important;
    margin-top:.5%
}
.ProseMirror {
    background-color: white;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
    padding:2%;
    border-radius:20px
}
.editor-wrapper {
    background-color: rgb(233, 227, 228);
    padding-top:2%;
    padding-bottom:2%
}