@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size:2rem;
  font-weight:500
}
h2 {
  font-size:1.8rem;
  font-weight:500
}
h3 {
  font-size:1.7rem;
  font-weight:500
}
h4 {
  font-size:1.5rem;
  font-weight:500
}
h5 {
  font-size:1.2rem;
  font-weight:500
}
h6 {
  font-size:1rem;
  font-weight:500
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  border-bottom:solid 1px
}
a.no-bottom, button a {
  border-bottom:none
}
button {
  background-color:#db8c92 !important;
  font-family:"Red Hat Mono";
  height:2rem !important;
  padding:25px 35px;
  display:flex;
  align-items:center;
  margin-left:1%;
  margin-bottom:5%;
  font-size:1.1rem;
  border-radius:100px !important;
  color:white !important;
}
nav button {
  color:#333333 !important;
  background-color: transparent !important;
}
hr {
  border-color:#888
}
.pale {
  background-color:#e2a9ae
}
.illustration-credit {
  font-size:.7rem;
  color:#666666
}
.inline-image {
  display:inline-flex;
  max-width: 50%;
  margin:3%
}
.tiptap-button.is-active {
  font-weight: bold;
}